/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 12, 2015, 11:05:12 AM
    Author     : Demini_Indrachapa
*/
.back_image {border: black solid;}
#pic1 { margin-left: 330px;}
#footer {background: appworkspace;
         width:700px;}
#form {margin-left: 450px;
        margin-top: 50px;}
